@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Ubuntu:wght@700&display=swap");
html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

.header__heading {
  color: #1e212c;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
@media screen and (min-width: 990px) {
  .header__heading {
    font-size: 30px;
  }
}

.title--primary {
  font-family: "Lato", sans-serif;
}

.page-width {
  max-width: 1400px;
}

.header {
  display: block;
  position: relative;
  width: 100%;
  z-index: 99;
  padding-top: 0;
}
.header .site-header-wrapper {
  background-color: #424551;
  width: 100%;
}
.header .site-header-main {
  background-color: #1e212c;
}
@media screen and (min-width: 990px) {
  .header .site-header-main {
    min-height: 44px;
  }
}
.header .site-header-main .header__icon--menu {
  color: #fff;
  position: initial;
}
.header .site-header-main .site-header-main-wrapper {
  align-items: center;
  display: grid;
  grid-template-areas: "left-icon navigation language icons";
}
.header .site-header-main .mt-language-menu {
  grid-area: language;
}
.header .site-header-main .header__inline-menu {
  margin: 0 auto;
}
.header .site-header-main .list-menu__item {
  opacity: 0.6;
}
@media screen and (min-width: 990px) {
  .header .site-header-main .list-menu__item {
    color: #fff;
  }
}
.header .site-header-main .site-header-account-links {
  align-items: center;
  display: inline-flex;
}
.header .site-header-main .menu-drawer__account,
.header .site-header-main .account-button-separator,
.header .site-header-main .footer-phone-block {
  color: #fff;
  font-size: 14px;
  opacity: 0.6;
}
.header .site-header-main .footer-phone-block {
  align-items: center;
  display: flex;
}
.header .site-header-main .header-phone {
  color: #fff;
  text-decoration: none;
}
.header .site-header-main .menu-drawer__account {
  margin-left: 0;
}
.header .site-navigation-wrapper {
  background-color: #fff;
  min-height: 84px;
}
.header .site-navigation-wrapper .header__icons {
  align-items: center;
  justify-self: end;
  margin-right: 100px;
}
.header .site-navigation-wrapper .site-header-navigation-wrapper {
  align-content: center;
  display: grid;
  grid-template-areas: "headin navigation icons";
  min-height: 84px;
}
.header .site-navigation-wrapper .header__heading,
.header .site-navigation-wrapper .header__heading-link {
  align-self: center;
  grid-area: unset;
}
.header .site-navigation-wrapper .list-menu--inline {
  align-items: center;
}
.header .site-navigation-wrapper .search-modal__form {
  height: 44px;
  width: 380px;
}
.header .site-navigation-wrapper .header__icon--cart {
  margin-left: 52px;
  width: 22px;
}
.header .site-navigation-wrapper .cart-count-bubble {
  background-color: #03cea4;
  border-radius: 4px;
  height: 20px;
  left: 30px;
  top: 12px;
  width: 23px;
}
.header .site-navigation-wrapper .swym-wishlist {
  align-items: center;
  display: flex;
  margin-left: 52px;
  text-decoration: none;
}
.header .site-navigation-wrapper .fa-heart {
  color: #1e212c;
  opacity: 0.6;
}
.header .header__submenu {
  background-color: #fff;
}
.header .header__submenu .header__menu-item {
  padding-left: 2.4rem;
}

.header__menu-item {
  border-bottom: 0;
  color: #424551;
  font-size: 14px;
  text-transform: capitalize;
  transition: -webkit-text-decoration var(--duration-short) ease;
  transition: text-decoration var(--duration-short) ease;
  transition: text-decoration var(--duration-short) ease, -webkit-text-decoration var(--duration-short) ease;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header .item-left {
  flex: 0 0 17%;
}

.header .logo a {
  color: #424551;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}

.header .item-center {
  flex: 0 0 66%;
}

.header .item-right {
  display: flex;
  flex: 0 0 17%;
  justify-content: flex-end;
}

.header .item-right a {
  color: #424551;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header .menu > ul > li {
  display: inline-block;
  line-height: 50px;
  margin-left: 25px;
}

.header .menu > ul > li > a {
  color: #424551;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.header .menu > ul > li .sub-menu {
  background-color: #fff;
  box-shadow: -2px 8px 70px -25px rgba(0, 0, 0, 0.3);
  margin-top: 25px;
  opacity: 0;
  padding: 20px 30px;
  position: absolute;
  transition: all 0.5s ease;
  visibility: hidden;
  z-index: 500;
}

@media (min-width: 992px) {
  .header .menu > ul > li.menu-item-has-children:hover .sub-menu {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
  }
}
.header .menu > ul > li .sub-menu > ul > li {
  line-height: 1;
}

.header .menu > ul > li .sub-menu > ul > li > a {
  color: #424551;
  display: inline-block;
  font-size: 16px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.header .menu > ul > li .single-column-menu {
  max-width: 350px;
  min-width: 280px;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li {
  display: block;
  line-height: 1;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
  color: #424551;
  display: inline-block;
  font-size: 15px;
  padding: 10px 0;
  transition: color 0.3s ease;
}

.header .menu > ul > li .sub-menu.mega-menu {
  left: 50%;
  transform: translateX(-50%);
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1380px;
  padding: 8px 0;
  width: 100%;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
  flex: 0 0 25%;
  padding: 0 15px;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title {
  color: #ff4242;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 10px 0;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title {
  text-align: center;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
  margin-top: 10px;
  max-width: 100%;
  vertical-align: middle;
  width: 100%;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a {
  color: #17696a;
}

.header .menu > ul > li:last-child > a {
  color: #ff4242;
}

.mobile-menu-head,
.mobile-menu-trigger {
  display: none;
}

.desktop-oddColumnContent {
  display: block;
  float: left;
  height: 436px;
  padding-top: 4px;
  position: relative;
}

.desktop-navBlock {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  width: 216px;
}

.desktop-navBlock > li {
  padding-left: 25px;
}

.desktop-categoryName {
  display: block;
  font-size: 14px;
  text-decoration: none;
}

.desktop-categoryName {
  color: #1e212c;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 12px 0 2px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.desktop-categoryLink {
  color: #424551;
  font-weight: 400;
}

.desktop-categoryLink,
.desktop-categoryName {
  display: block;
  font-size: 14px;
  text-decoration: none;
}

.desktop-hrLine {
  background-color: #fff;
  height: 1px;
  margin: 12px 0 0 25px;
  width: 140px;
}

a.desktop-categoryLink:hover {
  color: #ff4242;
}

li.menu-item-has-children:hover {
  color: #17696a;
}

.mega-menu {
  margin-top: 5px !important;
}

.mega-list-logo {
  z-index: 10000;
  position: relative;
}

.image-wrapper {
  display: block;
  padding: 10px;
  position: absolute;
  right: 90px;
  top: 50%;
  width: 285px;
}
.image-wrapper .text__section {
  color: #424551;
  font-size: 14px;
  font-weight: 700;
}
.image-wrapper .text__section .icon-arrow {
  margin: 0 8px;
  width: 12px;
}

.image-wrapper .site-subnav__image {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.link-text__section {
  align-items: center;
  background-color: transparent;
  border: 1px solid #17696a;
  border-radius: 4px;
  color: #17696a;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 36px;
  left: 24px;
  top: 0;
}

.link-text__section:hover {
  color: #f89828;
  border: 1px solid #f89828;
}