@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Ubuntu:wght@700&display=swap");
html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

.header__heading {
  color: #1e212c;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
@media screen and (min-width: 990px) {
  .header__heading {
    font-size: 30px;
  }
}

.title--primary {
  font-family: "Lato", sans-serif;
}

.page-width {
  max-width: 1230px;
}

.header {
  display: block;
}
.header .site-header-wrapper {
  background-color: #424551;
  width: 100%;
}
.header .site-header-main {
  background-color: #1e212c;
}
@media screen and (min-width: 990px) {
  .header .site-header-main {
    min-height: 44px;
  }
}
.header .site-header-main .site-header-main-wrapper {
  align-items: center;
  display: grid;
  grid-template-areas: "left-icon navigation language icons";
}
.header .site-header-main .mt-language-menu {
  grid-area: language;
}
.header .site-header-main .header__inline-menu {
  margin: 0 auto;
}
.header .site-header-main .list-menu__item {
  opacity: 0.6;
}
@media screen and (min-width: 990px) {
  .header .site-header-main .list-menu__item {
    color: #fff;
  }
}
.header .site-header-main .site-header-account-links {
  align-items: center;
  display: inline-flex;
}
.header .site-header-main .menu-drawer__account,
.header .site-header-main .account-button-separator,
.header .site-header-main .footer-phone-block {
  color: #fff;
  font-size: 14px;
  opacity: 0.6;
}
.header .site-header-main .footer-phone-block {
  align-items: center;
  display: flex;
}
.header .site-header-main .header-phone {
  color: #fff;
  text-decoration: none;
}
.header .site-header-main .menu-drawer__account {
  margin-left: 0;
}
.header .site-navigation-wrapper {
  background-color: #fff;
  min-height: 84px;
}
.header .site-navigation-wrapper .header__icons {
  justify-self: end;
  margin-right: 100px;
}
.header .site-navigation-wrapper .site-header-navigation-wrapper {
  align-content: center;
  display: grid;
  grid-template-areas: "headin navigation icons";
  min-height: 84px;
}
.header .site-navigation-wrapper .header__heading,
.header .site-navigation-wrapper .header__heading-link {
  grid-area: unset;
}
.header .site-navigation-wrapper .search-modal__form {
  height: 44px;
  width: 380px;
}
.header .site-navigation-wrapper .header__icon--cart {
  margin-left: 52px;
  width: 22px;
}
.header .site-navigation-wrapper .cart-count-bubble {
  background-color: #03cea4;
  border-radius: 4px;
  height: 20px;
  left: 30px;
  top: 12px;
  width: 23px;
}
.header .site-navigation-wrapper .swym-wishlist {
  align-items: center;
  display: flex;
  margin-left: 52px;
  text-decoration: none;
}
.header .site-navigation-wrapper .fa-heart {
  color: #1e212c;
  opacity: 0.6;
}