// --- collection category--- //

.section-collection-category {
  .full-unstyled-link {
    font-weight: 700;
    font-size: 20px;
    color: $gray-800;
    text-transform: capitalize;
    text-align: center;
  }

  .slider-mobile-gutter {
    @media screen and (min-width: 990px) {
      top: -120px;
    }
  }
}
