.footer {
  background-color: $gray-900;

  .footer__blocks-wrapper {
    display: grid;
    grid-column-gap: 44px;
    grid-row-gap: 18px;
    margin-bottom: 29px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media screen and (min-width: 750px) {
      grid-column-gap: 15px;
      grid-row-gap: 30px;
    }

    @media screen and (min-width: 1200px) {
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      grid-template-columns: 1fr 1fr 1fr 2fr;
    }
  }

  .grid__item {
    width: 100%;
  }

  .footer-block__heading {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;
  }

  .list-menu__item {
    font-size: 16px;
    text-transform: capitalize;
    color: $white;
    opacity: .6;
    margin: 4px 0;
    transition: all .3s;
    text-decoration: none;

    &:hover {
      color: $danger;
    }
  }

  .footer-block__details-content {
    .list-menu__item--active {
      color: $success;
    }
  }

  .footer-block__details-content {
    color: $white;

    a {
      font-size: 16px;
      color: $white;
      opacity: .6;
      transition: all .3s;

      &:hover {
        color: $danger;
      }
    }
  }

  .copyright__content {
    color: $white;
    font-size: 12px;

    a {
      transition: all .3s;

      &:hover {
        color: $danger;
        text-decoration: none;
      }
    }
  }

  .list-social__item {
    margin-top: 12px;
  }

  .list-social__link {
    background-color: $gray-800;
    border-radius: 4px;
    height: 32px;
    padding: 7px;
    margin-right: 12px;
    transition: all .3s;
    width: 32px;

    &:hover {
      background-color: $success;
    }

    .icon {
      color: $white;
    }
  }

  .list-social {
    justify-content: flex-start;
    margin-top: 10px;
  }

  .footer-block-image {
    img {
      margin-right: 20px;
    }
  }
}
