.footer {
  background-color: $gray-900;

  .section-footer-padding {

    @media screen and (min-width: 750px) {
      padding-bottom: 0;
    }
  }

  .footer__blocks-wrapper {
    display: grid;
    grid-column-gap: 44px;
    grid-row-gap: 18px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 29px;

    @media screen and (min-width: 750px) {
      grid-column-gap: 15px;
      grid-row-gap: 30px;
    }

    @media screen and (min-width: 1200px) {
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      grid-template-columns: 1fr 1fr 1fr 2fr;
    }
  }

  .grid__item {
    width: 100%;
  }

  .footer-block__heading {
    color: $white;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .list-menu__item {
    color: $white;
    font-size: 16px;
    margin: 4px 0;
    opacity: .6;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s;

    &:hover {
      color: $danger;
    }
  }

  .footer-block__details-content {
    color: $white;

    a {
      font-size: 16px;
      color: $white;
      opacity: .6;
      transition: all .3s;

      &:hover {
        color: $danger;
      }
    }

    .list-menu__item--active {
      color: $success;
    }
  }

  .list-social__item {
    margin-top: 12px;
  }

  .list-social__link {
    background-color: $gray-800;
    border-radius: 4px;
    height: 32px;
    margin-right: 12px;
    padding: 7px;
    transition: all .3s;
    width: 32px;

    &:hover {
      background-color: $success;
    }

    .icon {
      color: $white;
    }
  }

  .list-social {
    justify-content: flex-start;
    margin-top: 10px;
  }

  .footer-block-image {
    img {
      margin-right: 20px;
    }
  }

  .footer__content-bottom {
    border-top: 1px solid $gray-700;
    padding-top: 1rem;
  }

  .footer__column--info {
    align-items: flex-start !important;
  }

  .footer__copyright {
    margin-top: 0;
  }

  .copyright__content {
    color: $white;
    font-size: 12px;

    a {
      transition: all .3s;

      &:hover {
        color: $danger;
        text-decoration: none;
      }
    }
  }

  .footer__column--top {
    align-items: flex-end !important;
  }

  .back-to-top {
    display: none;

    @media screen and (min-width: 990px) {
      background-color: $gray-900;
      border-radius: 4px;
      bottom: 30px;
      color: $white;
      display: block;
      font-size: 16px;
      font-weight: 700;
      opacity: .6;
      padding: .3em .6em;
      position: fixed;
      right: 50px;
      text-decoration: none;
      z-index: 60000;
    }

    @media screen and (min-width: 1400px) {
      right: 190px;
    }
  }

  .hide {
    display: none !important;
  }
}
