// --- header--- //
.header {
  display: block;

  .site-header-wrapper {
    background-color: $gray-800;
    width: 100%;
  }

  .site-header-main {
    background-color: $gray-900;


    @media screen and (min-width: 990px) {
      min-height: 44px;
    }

    .site-header-main-wrapper {
      align-items: center;
      display: grid;
      grid-template-areas: 'left-icon navigation language icons';
      //grid-template-columns: 1fr 2fr 1fr 1fr;
    }

    .mt-language-menu {
      grid-area: language;
    }

    .header__inline-menu {
      margin: 0 auto;
    }

    .list-menu__item {
      opacity: .6;
      @media screen and (min-width: 990px) {
        color: $white;
      }
    }

    .site-header-account-links {
      align-items: center;
      display: inline-flex;
    }

    .menu-drawer__account,
    .account-button-separator,
    .footer-phone-block {
      color: $white;
      font-size: 14px;
      opacity: .6;
    }

    .footer-phone-block {
      align-items: center;
      display: flex;
    }

    .header-phone {
      color: $white;
      text-decoration: none;
    }

    .menu-drawer__account {
      margin-left: 0;
    }
  }

  .site-navigation-wrapper {
    background-color: $white;
    min-height: 84px;

    .header__icons {
      justify-self: end;
      margin-right: 100px;
    }

    .site-header-navigation-wrapper {
      align-content: center;
      display: grid;
      grid-template-areas: "headin navigation icons";
      //grid-template-columns: 1fr 2fr 2fr;
      min-height: 84px;

      .header__heading,
      .header__heading-link {
        grid-area: unset;
      }
    }

    .search-modal__form {
      height: 44px;
      width: 380px;
    }

    .header__icon--cart {
      margin-left: 52px;
      width: 22px;
    }

    .cart-count-bubble {
      background-color: $success;
      border-radius: 4px;
      height: 20px;
      left: 30px;
      top: 12px;
      width: 23px;
    }

    .swym-wishlist {
      display: flex;
      align-items: center;
      margin-left: 52px;
      text-decoration: none;
    }

    .fa-heart {
      color: $gray-900;
      opacity: .6;
    }
  }
}
