// --- header--- //
.header {
  display: block;
  height:128px;

  .site-header-wrapper {
    background-color: $gray-800;
    width: 100%;
  }

  .site-header-main {
    background-color: $gray-900;


    @media screen and (min-width: 990px) {
      min-height: 44px;
    }

    .site-header-main-wrapper {
      align-items: center;
      display: grid;
      grid-template-areas: 'left-icon navigation language icons';
      grid-template-columns: 1fr 3fr 1fr 1fr;
    }

    .mt-language-menu {
      grid-area: language;
    }

    .header__inline-menu {
      margin: 0 auto;
    }

    .list-menu__item {
      color: $white;
      opacity: .6;
    }

    .site-header-account-links {
      display: inline-flex;
      align-items: center;
    }

    .menu-drawer__account,
    .account-button-separator,
    .footer-phone-block__details-content {
      color: $white;
      opacity: .6;
      font-size: 14px;
    }
    .menu-drawer__account {
      margin-left: 0;
    }
  }

  .site-navigation-wrapper {
    background-color: $white;
    min-height: 84px;

    .header__icons {
      justify-self: end;
      margin-right: 100px;
    }

    .site-header-navigation-wrapper {
      display: grid;
      grid-template-areas: "headin navigation icons";
      grid-template-columns: 1fr 2fr 2fr;

      .header__heading,
      .header__heading-link {
        grid-area: unset;
      }
    }

    .search-modal__form {
      width: 380px;
      height: 44px;
      top: calc(50% - 44px/2 + 22px);
    }

    .header__icon--cart {
      width: 22px;
    }

    .cart-count-bubble {
      background-color: $success;
      width: 23px;
      height: 20px;
      left: 30px;
      border-radius: 4px;
    }
  }
}
