// --- slider main--- //

.slideshow-section {

  .banner--large:not(.banner--adapt) {
    @media screen and (min-width: 750px) {
      min-height: 80rem;
    }
  }

  .slideshow__control-wrapper {
    width: 100%;
  }

  .slider-counter__link {
    border-bottom: 2px solid $gray-800;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: .5;
    margin: 0 4px;
    opacity: .3;
    padding: 1rem;
    text-align: start;
    text-decoration: none;
    width: 178px;
  }

  .slider-counter__link--numbers {
    color: $gray-800;

    &:hover {
      transform: scale(1);
    }
  }

  .slider-counter__link--active.slider-counter__link--numbers {
    opacity: 1;
    text-decoration: none;
    transform: scale(1);
  }

  .banner {
    position: relative;
  }

  .slideshow__controls {
    position: unset;
  }

  .slider-button {
    display: none;

    @media screen and (min-width: 750px) {
      background: $white;
      border-radius: 50px;
      display: block;
      height: 48px;
      opacity: .5;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all .3s;
      width: 48px;
      z-index: 5;

      &:hover {
        opacity: 1;
      }
    }
  }

  .slider-button--prev {
    left: 15px;

    @media screen and (min-width: 1400px) {
      left: 32px;
    }
  }

  .slider-button--next {
    right: 15px;
    transform: rotate(180deg) translateY(24px);

    @media screen and (min-width: 1400px) {
      right: 32px;
    }
  }

  .slideshow__text-wrapper {
    position: relative;

    .banner__text {
      color: $gray-900;
      font-size: 72px;
      font-weight: 900;
      letter-spacing: 1px;
    }
  }

  .slider-counter {
    display: none;

    @media screen and (min-width: 750px) {
      bottom: 180px;
      display: block;
      left: 16%;
      position: absolute;
      width: 50%;
      z-index: 5;
    }
  }

  @media screen and (min-width: 750px) {
    .banner--desktop-transparent {
      .banner__box {
        --color-button: 23, 105, 106;
        --color-button-text: 255, 255, 255;
        --color-foreground: 30, 33, 44;
      }

      .button--secondary {
        --color-button-text: 23, 105, 106;
        border: 1px solid $primary;
      }
    }
  }
}
